#mainNav {
    width: 50%;
}

#dropdownMenus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 1000;
}

.dropdown {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.dropdown:hover .dropdownElements {
    visibility: visible;
}

.dropdownElements {
    background-color: #429dff;
    position: absolute;
    top: 20px;
    color: white;
    text-align: left;
    font-family: 'Raleway';
    font-weight: 200;
    visibility: hidden;
    width: 200px;
}

.dropdownSubElement:hover {
    background-color: rgb(49, 74, 118);
}


.dropdownElement {
    margin: 10px;
    padding-right: 10px;
    width: 100%;
    clear: both;
}




.dropdownSubElement {
    margin: 4px 0px 4px 0px;
    width: 180px;
}

#loginLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signupLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#personalGreetingDiv {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#greetingText {
    padding: 0;
    margin-bottom: 6px;
}

#logoutButton {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #ffb7b2 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Fira Sans';
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
#logoutButton:hover {
	background:linear-gradient(to bottom, #ffb7b2 5%, #fc8d83 100%);
	background-color:#ffb7b2;
}
#logoutButton:active {
	position:relative;
	top:1px;
}

#bannerBar {
    background-color: #ff9898;
    height: 3px;
    width: 100%;
}

#titleText {
    margin-left: 25px;
    margin-top: 10px;
}

#mainIcon {
    margin-left: 30px;
}

#iconAndTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#greetingAndLogout {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}