#mainNav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    margin-right: 80px;
}

/* #dropdownMenus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 1000;
} */

.dropdown {
    cursor: pointer;
    position: relative;
    font-size: 20px;
    padding: 2%;
}

.upArrow:hover  {
    position: absolute;
    left: 50%;
    top: 40px;
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 10px solid rgb(48,162,204);
  }

#cultureArrow {
    margin-left: -32px;
}

#productArrow {
    margin-left: -30px;
}

#howToArrow {
    margin-left: -30px;
}

#recipeArrow {
    margin-left: -30px;
}

.dropdown:hover .dropdownElements {
    visibility: visible;
}

.dropdownElements {
    background-color: rgb(48,162,204);
    position: absolute;
    top: 48.5px;
    color: white;
    text-align: left;
    font-family: Helvetica;
    font-weight: 100;
    visibility: hidden;
    font-size: 90%;
}

#productRecs {
    left: 50%;
    width: 200px;
    margin-left: -100px;    
}

#howTos {
    width: 200px;
    left: 50%;
    margin-left: -100px;
}

#recipes {
    width: 170px;
    left: 50%;
    margin-left: -85px;
}

#culture {
    width: 180px;
    left: 50%;
    margin-left: -90px;
}

.dropdownSubElement:hover {
    background-color: rgb(49, 74, 118);
}


.dropdownElement {
    margin: 10px;
    padding-right: 10px;
    width: 100%;
    clear: both;
}


.dropdownSubElement {
    margin: 12px 0px 12px 0px;
    width: 180px;
}

#loginLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signupLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personalGreetingDiv {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


#greetingText {
    padding: 0;
    margin-bottom: 6px;
}

#profileIcon {
    width: 100%;
    height: auto;
}

#logoutDiv:hover {
    cursor: pointer;
}

#profileDiv {
    max-width: 50px;
    max-height: 50px;
}

#profileIcon {
    width: 80%;
    height: 80%;
}

#bannerBar {
    background-color: rgb(48,162,204);
    height: 2px;
    width: 100% ;
}

#progressBar {
    height: 3px;
    width: 0%;
    background-color: #000000;
}

#titleText {
    margin-left: 25px;
    margin-top: 10px;
}

#mainIcon {
    height: 75px;
    width: 90px;
    position: absolute;
    top: 10%;
    left: 5%;
}

#iconAndTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchIcon:hover {
    cursor:pointer;
}

#searchIcon {
    width: 80%;
    height: 80%;
}

#searchDiv {
    max-width: 50px;
    max-height: 50px;
}


#greetingAndLogout {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}   

.header {
    width: 100%;
    background-color: #efefef;
    position: fixed;
    color: #383c45;
}

.collapse {
    height: 50px;
}

